html
    head
        title Sync - Homepage
        link(rel='stylesheet', href="styles/index.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(type="text/css", rel="stylesheet", href="styles/materialize.css", media="screen,projection")
        script(type="text/javascript", src="scripts/materialize.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="scripts/index.js")
    body
        a#createRoom.waves-effect.waves-light.btn.red Create room
        form(action="#")
            p.range-field
                input.test5(type="range", min="0", max="100")