html

  head

    title Watch2Gather
    link(rel='stylesheet', href='/styles/style.css')
    script(src="scripts/jquery.js")
    link(rel="shortcut icon", type="image/png", href="/images/favicon.png")
  body#index
    div#startingPage
      h1 Sync